
p {
  font-family: Roboto;
  cursor: pointer;
}

#DAB {
  position: fixed;
  right: 43%;
  top: 50%;
  cursor: pointer;
}

#DAB:active {
  transform: scaleX(-1);
}

.score {
  text-align: center;
  display: block;
  margin: 0;
  position: fixed;
  right: 50%;
  font-size: 50px;

}

#dabtext {
  right: 47%;
  top: 33%;
}

#poang {
  top: 40%;
  right: 49%;
}

.upgrade {
  position: absolute;
  column-count: 4;
  column-gap: 250px;
  height: 200px;
  z-index: 0;
  cursor: pointer;
}

.upimg {
  position: absolute;
  height: 120px;
  width: auto;
  top: 7px;
  z-index: -1;
  cursor: pointer;
}

#upgradedab {
  top: 0px;
}

#ponydab {
  position: absolute;
  width: 80px;
  height: auto;
  z-index: -1;
  top: 20px;
  right: 400px;
}

#totalDabs {
  right: 100px;
  bottom: 100px;
  position: fixed;
  text-align: right;
}